#settings
.settings/

#metadata
.metadata/

#Debug
FSBL/build/
Appli/build/
build/

mx.scratch

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

/mx-generated.cmake
starm-clang.cmake

*.ld
